.totalArticlesPrice {
  font-family: "mdBold";
  width: 100%;
  margin: 0.5rem auto;
  font-size: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(117, 117, 117, 0.6);
}

.removeAll {
  max-width: 100%;
  margin: 2rem auto;
}

.bottom{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  button{
    width: 50%;
    align-self: center;
  }
}

.reminder{
  width: 90%;
  color: red;
  font-family: "mdSemi";
  margin: 2rem auto ;
  p{
    margin: 0;
  }
}


.cartHeader {
  font-family: "mdBold";
  width: 50%;
  margin: 4rem auto 2rem auto;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(117, 117, 117, 0.6);
}

@media (max-width: 900px) {
  .cartHeader {
    width: 90%;
  }

  .bottom{
    width: 90%;
    button{
      width: 100%;
    }
  }

}

// @media (min-width: 401px) and (max-width: 600px) {
//   .cartArticleCard {
//     // background-color: red;
//     width: 90%;
//     .left {
//       margin: 0;
//       max-width: 25vw;
//       max-height: 40vh;
//     }
//   }
// }

// @media (min-width: 601px) and (max-width: 900px) {
//   .cartArticleCard {
//     width: 90%;
//     .left {
//       margin: 0;
//       max-width: 20vw;
//       max-height: 40vh;
//     }
//   }
// }
