.cartArticleCard {
  position: relative;
  width: 50%;
  margin: 0.5rem auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 3px rgba(117, 117, 117, 0.6);

  .left {
    max-height: 40vh;
    max-width: 10vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 80%;
    text-align: left;

    span {
      font-family: "afacad";
      font-size: 1.1rem;

      span {
        font-family: "mdSemi";
      }
    }
  }

  .removeIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--primary);
  }
}

@media (max-width: 400px) {
  .cartArticleCard {
    width: 90%;
    .left {
      max-width: 30vw;
      max-height: 30vh;
      margin: 0;
    }
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .cartArticleCard {
    // background-color: red;
    width: 90%;
    .left {
      margin: 0;
      max-width: 25vw;
      min-width: 25vw;
      max-height: 40vh;
    }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .cartArticleCard {
    width: 90%;
    .left {
      margin: 0;
      max-width: 20vw;
      max-height: 40vh;
    }
  }
}
