.commands {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .leftSide {
    min-width: 180px;
    border: 0.1px solid rgb(241, 241, 241);
  }

  .rightSide {
    width: 100%;
    border: 0.1px solid white;

    h1 {
      font-family: "mdBold";
    }

    .table {
      width: 95%;
      margin: 0 auto;
      border-collapse: collapse;
    }

    .table th,
    .table td {
      padding: 10px;
      border-top: 1px solid #ddd;
      border-left: none;
      border-bottom: 1px solid #ddd;
      border-right: none;
      text-align: left;
      font-family: "afacad";
    }

    .table thead th {
      font-weight: bold;
      font-family: "mdBold";
    }

    .table tbody tr:hover {
      background-color: #f7f7f7;
    }

    th.orderId {
      max-width: 15%;
    }

    th.clienName {
      max-width: 30%;
    }

    th.wilaya {
      max-width: 25%;
    }

    th.orderdate {
      max-width: 10%;
    }

    th.orderPrice {
      max-width: 10%;
    }

    th.orderStatus {
      max-width: 10%;
    }

    .Pending {
      width: 100%;
      border-radius: 1rem;
      text-align: center;
      background-color: rgb(255, 244, 225);
      color: orange;
      padding: 2px;
    }

    .Completed {
      width: 100%;
      border-radius: 1rem;
      text-align: center;
      background-color: rgb(236, 255, 236);
      color: green;
      padding: 2px;
    }

    .Canceled {
      width: 100%;
      border-radius: 1rem;
      text-align: center;
      background-color: rgb(255, 233, 233);
      color: red;
      padding: 2px;
    }

    .Not {
      width: 100%;
      border-radius: 1rem;
      text-align: center;
      background-color: rgb(243, 243, 243);
      color: black;
      padding: 2px;
    }

    .radio-inputs {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border-radius: 0.5rem;
      background-color: #eee;
      box-sizing: border-box;
      box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
      padding: 0.25rem;
      width: 70%;
      margin: 3rem auto 1rem auto;
      font-size: 14px;
      font-family: "mdSemi";
    }

    .radio-inputs .radio {
      flex: 1 1 auto;
      text-align: center;
    }

    .radio-inputs .radio input {
      display: none;
    }

    .radio-inputs .radio .name {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
      border: none;
      padding: 0.5rem 0;
      color: rgba(51, 65, 85, 1);
      transition: all 0.15s ease-in-out;
    }

    .radio-inputs .radio input:checked + .name {
      background-color: #fff;
      font-weight: 600;
    }
  }
}

@media (max-width: 600px) {
  .commands {
    .rightSide {
      .radio-inputs {
        width: 90%;
      }
      .phoneView {
        display: none;
      }
    }
  }
}
