:root {
  // --bg-card: #C8AD7F;
  --black: #000;
  --light: #ffffff;
  --primary: #c78c24;
  --gray: #383737;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--primary) var(--gray);
  scrollbar-width: thin;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: "mdMed";
  src: url(fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: "mdReg";
  src: url(fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: "mdSemi";
  src: url(fonts/DMSans-SemiBold.ttf);
}

@font-face {
  font-family: "mdBold";
  src: url(fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: "BrandFont";
  src: url(fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "afacad";
  src: url(fonts/Afacad-Regular.ttf);
}

@font-face {
  font-family: "kanit";
  src: url(fonts/Kanit-Regular.ttf);
}

@font-face {
  font-family: "raleway";
  src: url(fonts/Raleway-Regular.ttf);
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// button {
//   border-radius: 8px;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #000000;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: #7f7f7f;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
