
.sideBar {
  background-color: rgb(241, 241, 241);
  border: 0.1px solid rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;

  .subList {
    li {
      margin: 1rem auto;
    }
  }

  ul {
    list-style: none;
    padding: 0 0 0 10%;
    text-align: start;

    .active {
      color: var(--primary);
    }

    li {
      margin: 1.5rem auto 0 auto;
      font-family: "mdSemi";
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        color: var(--primary);
      }
    }
  }
}

.sideBarHidden {
  display: none;
}

@media (max-width: 900px) {
  .sideBar {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    // animation: Drop 0.2s linear;
    // animation-iteration-count: 1;
  }

  @keyframes Drop {
    0% {
      top: -350px;
    }
    10% {
      top: -310px;
    }
    20% {
      top: -270px;
    }
    30% {
      top: -230px;
    }
    40% {
      top: -190px;
    }
    50% {
      top: -150px;
    }
    60% {
      top: -110px;
    }
    70% {
      top: -70px;
    }
    80% {
      top: -30px;
    }
    90% {
      top: 10px;
    }
    100% {
      top: 50px;
    }
  }
  
}

.leftSide {
  z-index: 100;
}
